html,body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    font-size: 40px;
    color: #D32B2B;
    margin-bottom: 0px;
}

h3{
    margin-bottom: 5px;
}

p{
    text-align: center;
}



input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

button{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #D32B2B;
    cursor: pointer;
    background-color: white;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
}


#Imagen{
    flex: 1;
    height: 100%;
    box-sizing: border-box;


}

.Contenido{
  flex: 1;
  height: 100%;
  align-content: center;
  margin-left: 40px;
  margin-right: 40px;
  box-sizing: border-box;
}


@media (max-width: 1000px) {

    .Contenido{
        flex: 2;
    }
}

@media (max-width: 800px) {

    #Imagen{
        display: none;
    }
}

@media (max-height: 450px) {

    html,body{
        height: auto;
    }

    #Imagen{
        height: 450px;
    }
}