<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesión Expirada</title>
    <link rel="stylesheet" href="../css/404.css">
    <link rel="icon" href="/src/icono.jpg" type="image/jpg">
</head>
<body>
    <div class="container">
        <div class="error">
            <h1>Error</h1>
            <p>Tu sesión ha expirado. Por favor, inicia sesión nuevamente.</p>
            <a href="/" class="home-btn">Iniciar Sesión</a>
        </div>
    </div>
</body>
</html>

<script type="module">

localStorage.removeItem("Usuario");

</script>